@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
}


/* Animaciones personalizadas */
@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Estilos para dark/light mode (Tailwind ya lo maneja) */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */